@charset "utf-8";

/* ------------------- */
/*      Variables      */
/* ------------------- */

$green: hsl(115, 77%, 54%);
$blue: hsl(208, 100%, 50%);
$dark: hsl(208, 100%, 7%);
$light: hsl(62, 93%, 94%);

$fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
$fs-800: 3.5rem;
$fs-700: 3rem;
$fs-600: 2rem;
$fs-500: 1rem;
$fs-400: 0.9375rem;
$fs-300: 0.875rem;
$fs-200: 0.7rem;

$flow-space: 0.6rem;
$gap: 0.6rem;

/* font-families */
@font-face {
  font-family: 'GT_America_Extended_Medium';
  src: url('./assets/fonts/GT_America_Extended_Medium.ttf');
}
@font-face {
  font-family: 'GT-America-Extended-Thin';
  src: url('./assets/fonts/GT-America-Extended-Thin.otf');
}
@font-face {
  font-family: 'ITCGaramondStd-LtCond';
  src: url('./assets/fonts/ITCGaramondStd-LtCond.otf');
}

$ff-sans-normal: 'GT_America_Extended_Medium', sans-serif;
$ff-sans-cond: 'GT-America-Extended-Thin', sans-serif;
$ff-serif: 'ITCGaramondStd-LtCond', sans-serif;

/* ------------------- */
/*        Reset        */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
iframe {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: $ff-sans-normal;
  font-size: $fs-400;
  color: $dark;
  background-color: $light;
  line-height: 1.5;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
iframe {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: $light;
  border-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*        Utility      */
/* ------------------- */

.grid {
  display: grid;
  gap: $gap;
}

.flex {
  display: flex;
  gap: $gap;
}

.block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: $flow-space;
}

.container {
  padding: $gap;
  margin: 0 auto;
  max-width: 75rem;
  border-radius: 0.5em;
}

.has-border {
  border: 1px solid $dark;
}

/* colors */

.dark {
  background-color: $dark;
}

.light {
  background-color: $light;
}

.green {
  background-color: $green;
}

.blue {
  background-color: $blue;
}

/* typography */

.fs-900 {
  font-size: $fs-900;
}
.fs-800 {
  font-size: $fs-800;
}
.fs-700 {
  font-size: $fs-700;
}
.fs-600 {
  font-size: $fs-600;
}
.fs-500 {
  font-size: $fs-500;
}
.fs-400 {
  font-size: $fs-400;
}
.fs-300 {
  font-size: $fs-300;
}
.fs-200 {
  font-size: $fs-200;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.ff-sans {
  font-family: $ff-sans-normal;
}

.ff-sans-c {
  font-family: $ff-sans-cond;
}

.ff-serif {
  font-family: $ff-serif;
}

/* ------------------- */
/*      Components     */
/* ------------------- */

/* top 10 */

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  font-size: $fs-500;
  aspect-ratio: 1;
  padding: 0 2em;
}

.top10--grid {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.in-top10 {
  background-color: $dark;
  color: $light;
}

.top10--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top10--title {
  margin-bottom: 0.5em;
}

.next-button {
  justify-self: flex-end;
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
}

.next-button:disabled {
  opacity: 0;
}

.remove-button {
  position: absolute;
  top: -0.5em;
  right: 0;
  padding: 0 0.3em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $light;
  color: $dark;
  z-index: 10;
}

/* carousel */

.carousel--container {
  grid-column: 1 / 3;
  width: 100%;
}

.carousel {
  overflow-x: scroll;
  max-width: 100%;
}

.carousel--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: $fs-300;
  padding: 0 1.5em;
  aspect-ratio: 1;
  color: $light;
  background-color: $dark;
  text-transform: uppercase;
}

.selected {
  background-color: $light;
  color: $dark;
  border-radius: 0.5em;
}

/* card */

.card--container {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card--info {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card--title {
  max-height: 5em;
  width: 100%;
  flex-grow: 1;
  align-self: flex-start;
}

.card--subtitle {
  align-items: center;
  justify-content: space-between;
  margin-inline: 0.5em;
}

.card--subtitle h2 {
  text-decoration: underline;
}

.card--title-image {
  max-height: 2em;
}

.arrow {
  max-height: 10em;
}

.arrow:hover {
  cursor: pointer;
}

.video {
  flex-grow: 1;
  aspect-ratio: 16/9;
}

.c2a {
  max-height: 6em;
  overflow-y: scroll;
}

.c2a--text {
  text-align: center;
}

/* ------------------- */
/*       Layout        */
/* ------------------- */

.main-grid {
  grid-template-columns: minmax(0, 1fr) minmax(0, 6fr);
  grid-template-rows: minmax(0, 6fr) minmax(0, 1fr);
  max-width: 100vw;
  height: 100vh;
}
