@charset "utf-8";

$green: #3ee42f;
$blue: #0088ff;
$card-column-height: 50%;

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

button {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.has-border {
  border: 1px solid black;
  border-radius: 5px;
}

.has-shadow {
  box-shadow: 0 2px black;
}

.is-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.is-flex-column-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.is-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.flex-child {
  flex: 1;
  min-height: 0;
}

//  -------------- CONNECT COMPONENT ---------------

.connect-wrapper {
  width: 100vw;
  height: 100vh;
}

.connect-container {
  width: 50vw;
  height: 50vh;
}

// ----------------- CARD HEADER -------------------

.header {
  margin-bottom: 0.5rem;
}

// ------------------- MAIN CARD CONTENT ------------------

.video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.75rem;
}

.video {
  height: 100%;
  width: auto;
}

.c2a-wrapper {
  overflow-y: scroll;
}

.c2a-header {
  margin: 0;
  padding: 0 0.5rem;
}

.c2a-content {
  padding: 0 0.5rem;
}

.insider-info {
  padding: 2.5%;
  box-sizing: border-box;
}

//  ----------------- CARD FOOTER -------------------

.footer {
  height: 10vh;
}

.buttons {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-message {
  text-align: right;
}

.vote-card {
  max-height: 90vh;
  width: 60vw;
  overflow-y: scroll;
}

.vote-card-wrapper {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

$tile-spacing: 0.3rem;

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/helpers/typography.sass';
@import '../node_modules/bulma/sass/elements/progress.sass';
@import '../node_modules/bulma/sass/grid/tiles2.sass';
