/* ------------------- */
/*      Variables      */
/* ------------------- */
/* font-families */
@font-face {
  font-family: "GT_America_Extended_Medium";
  src: url("./assets/fonts/GT_America_Extended_Medium.ttf");
}
@font-face {
  font-family: "GT-America-Extended-Thin";
  src: url("./assets/fonts/GT-America-Extended-Thin.otf");
}
@font-face {
  font-family: "ITCGaramondStd-LtCond";
  src: url("./assets/fonts/ITCGaramondStd-LtCond.otf");
}
@font-face {
  font-family: "ITCEDSCR";
  src: url("./assets/fonts/ITCEDSCR.ttf");
  src: url("./assets/fonts/ITCEDSCR.TTF");
}
/* ------------------- */
/*        Reset        */
/* ------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
iframe {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: "GT_America_Extended_Medium", sans-serif;
  font-size: 0.9375rem;
  color: #000000;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

/* make images easier to work with */
img,
iframe {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: #ffffff;
  border-style: none;
  border-radius: 5em;
  box-shadow: 4px 4px 4px #d8d8d8;
}

button:hover {
  background-color: #d8d8d8;
  color: #000000;
  cursor: pointer;
}

button:active {
  color: #ffffff;
  background-color: #000000;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------- */
/*        Utility      */
/* ------------------- */
.grid {
  display: grid;
  gap: 0.6rem;
}

.flex {
  display: flex;
  gap: 0.6rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.sb {
  justify-content: space-between;
  align-items: center;
}

.sa {
  justify-content: space-around;
  align-items: center;
}

.end {
  justify-content: flex-end;
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.block {
  display: block;
}

.padding-inline {
  padding-inline: 1em;
}

.flow > *:where(:not(:first-child)) {
  margin-top: 0.6rem;
}

.container {
  padding: 0.6rem;
  margin: 0 auto;
  max-width: 75rem;
  border-radius: 1.5em;
}

.has-border {
  border: 1px solid #000000;
}

.overflow-scroll {
  overflow-y: scroll;
}

.fixed {
  position: fixed;
}

.bottom-align {
  bottom: 0px;
}

.top-align {
  top: 0px;
}

.left-0 {
  left: 0px;
}

.max-height {
  height: 100vh;
}

.max-width {
  width: 100vw;
}

.full-width {
  width: 100%;
}

.bg-cover {
  background-size: cover;
}

.margin-top-bottom-1 {
  margin: 1em 0 1em 0;
}

.rounded-corners {
  border-radius: 0.5em;
}

.ul {
  text-decoration: underline;
}

/* colors */
.dark {
  background-color: #000000;
}

.light {
  background-color: #ffffff;
}

.blue-gradient {
  background-image: linear-gradient(to top, #ffffff, #00c2ff 30%);
}

.rainbow {
  background-image: linear-gradient(to right, #00c2ff, #10b902 20%, #ffd600, #ff7a00, #ff3535);
  border: 1px solid #ffffff;
}

.empty-button {
  background-color: #ffffff;
  box-shadow: inset 0 2px 5px #c4c4c4, 0 5px 6px -3px #c4c4c4;
}

.fc-dark-low-op {
  color: rgba(0, 0, 0, 0.7);
}

.blue {
  background-color: #00c2ff;
}

/* typography */
.fs-1000 {
  font-size: 23rem;
}

.fs-900 {
  font-size: clamp(5rem, 8vw + 1rem, 9.375rem);
}

.fs-800 {
  font-size: 3.5rem;
}

.fs-700 {
  font-size: 3rem;
}

.fs-600 {
  font-size: 2rem;
}

.fs-500 {
  font-size: 1rem;
}

.fs-400 {
  font-size: 0.9375rem;
}

.fs-300 {
  font-size: 0.875rem;
}

.fs-200 {
  font-size: 0.7rem;
}

.fs-1000,
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.ff-sans {
  font-family: "GT_America_Extended_Medium", sans-serif;
}

.ff-sans-c {
  font-family: "GT-America-Extended-Thin", sans-serif;
}

.ff-serif {
  font-family: "ITCGaramondStd-LtCond", serif;
}

.ff-serif-2 {
  font-family: "ITCEDSCR", serif;
}

/* ------------------- */
/*      Components     */
/* ------------------- */
/* top row */
.connect-button {
  border-radius: 5em;
  padding-inline: 2em;
  vertical-align: middle;
  font-size: 1.4em;
}

.address {
  max-width: 15em;
  font-size: 1.4em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-top: 0.1em;
  padding-left: 0.3em;
}

.logo {
  height: 1em;
  width: 100%;
}

/* home */
.home-title {
  grid-column: 1/3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
}

/* top 10 */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  font-size: 1rem;
  aspect-ratio: 1;
  width: 4.4em;
}

.top10--grid {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.in-top10 {
  font-size: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.top10--container {
  width: 100%;
}

.top10--overlay {
  padding: 0.5rem;
  background-color: #ffffff;
  gap: 0;
}

.display-toggle {
  max-width: 1em;
  justify-self: flex-end;
}

.display-toggle:hover {
  cursor: pointer;
}

.a-down {
  transform: rotate(90deg);
}

.a-up {
  transform: rotate(-90deg);
}

.next-button {
  padding-inline: 1em;
  padding-top: 0.2em;
}

.next-button:disabled {
  opacity: 0.7;
}

.remove-button {
  position: absolute;
  top: -0.5em;
  right: 0;
  padding: 0 0.3em;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 10;
}

/* overview */
.overview {
  height: 100vh;
}

.overview--grid {
  width: 100vw;
  height: 100vh;
}

.grid--card {
  position: relative;
  width: 8rem;
  height: 10rem;
  padding-inline: 2rem;
  text-align: center;
}

.grid--circle {
  position: absolute;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0 1.6em;
  aspect-ratio: 1;
  color: #000000;
  background-size: cover;
  border: 2px solid #10b902;
  box-shadow: 0 0 0 2px #000000;
  text-transform: uppercase;
}

.grid--name {
  position: absolute;
  top: 7em;
}

.selected {
  background-color: #10b902;
  color: #000000;
  border-radius: 0.5em;
}

/* card */
.card--container {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 250px #ffffff, 0px 0px 250px #ffffff;
}

.card--info {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card--title {
  max-height: 5em;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.card--title h1 {
  padding-top: 0.4em;
}

.card--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  font-size: 1rem;
  aspect-ratio: 1;
  padding: 0 0.8em;
  color: #ffffff;
}

.card--right {
  align-items: flex-start;
  margin-inline: 0.5em;
  max-width: 25em;
  height: 100%;
}

.card--right h3 {
  text-decoration: underline;
}

.card--icon {
  max-height: 2em;
}

.arrow {
  max-height: 3em;
  padding-inline: 3em;
}

.arrow:hover {
  cursor: pointer;
}

.video {
  width: 40rem;
  aspect-ratio: 16/9;
}

.c2a {
  height: 10em;
  overflow-y: scroll;
}

.c2a--text {
  text-align: center;
}

/* vote */
.vote--card-wrapper {
  position: relative;
  max-height: 25em;
  max-width: 13em;
  padding-top: 3em;
}

.vote--card {
  flex-wrap: nowrap;
  padding: 3em 1em 1em 1em;
}

.vote--icon {
  position: absolute;
  border-radius: 50%;
  top: 0rem;
  left: 3.5rem;
  font-size: 0.7rem;
  color: #000000;
  aspect-ratio: 1;
  padding: 0 4em;
  background-repeat: no-repeat;
  background-size: cover;
}

.vote--button {
  border-radius: 50%;
  font-size: 0.875rem;
  aspect-ratio: 1;
  width: 2em;
}

.comments {
  height: 9em;
}

.input--container {
  border-radius: 1.5em;
  max-width: 15em;
  gap: 0;
}

.input--left {
  padding-top: 0.1em;
  padding-inline: 0.5em;
  border-right: 1px solid #000000;
}

.input--right {
  padding-top: 0.05em;
  border-left: 1px solid #000000;
  padding-inline: 0.5em;
  max-width: 5em;
}

.vote--input {
  max-width: 3em;
  background-color: transparent;
  border-style: none;
}

.vote--input:focus {
  outline: none;
}

.vote--submit-button {
  border-radius: 0.5em;
  padding-inline: 2em;
  padding-top: 0.2em;
  font-size: 2em;
}

/* modal */
.modal--wrapper {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hidden {
  display: none;
}

.modal--button {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 5em;
  padding-inline: 1em;
  padding-top: 0.2em;
  margin-top: 0.5em;
}

.modal--button:hover {
  cursor: pointer;
}

/* ------------------- */
/*       Layout        */
/* ------------------- */
.main-grid {
  grid-template-columns: minmax(0, 1fr) minmax(0, 6fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 12fr) minmax(0, 2fr);
  max-width: 100vw;
  height: 100vh;
}

.home-grid {
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 15fr);
  padding: 0.6rem;
  width: 100vw;
  height: 100vh;
}

.voting-grid {
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 12fr) minmax(0, 2fr);
  padding: 0.6rem;
  width: 100vw;
  height: 100vh;
}

.votes--top10-grid {
  width: 100%;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  padding: 0.6rem;
  border-radius: 1.5em;
}

/*# sourceMappingURL=main.css.map */
