/* ------------------- */
/*      Variables      */
/* ------------------- */
/* font-families */
@font-face {
  font-family: "GT_America_Extended_Medium";
  src: url("./assets/fonts/GT_America_Extended_Medium.ttf");
}
@font-face {
  font-family: "GT-America-Extended-Thin";
  src: url("./assets/fonts/GT-America-Extended-Thin.otf");
}
@font-face {
  font-family: "ITCGaramondStd-LtCond";
  src: url("./assets/fonts/ITCGaramondStd-LtCond.otf");
}
/* ------------------- */
/*        Reset        */
/* ------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
iframe {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: "GT_America_Extended_Medium", sans-serif;
  font-size: 0.9375rem;
  color: #001324;
  background-color: #fdfee1;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

/* make images easier to work with */
img,
iframe {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: #fdfee1;
  border-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------- */
/*        Utility      */
/* ------------------- */
.grid {
  display: grid;
  gap: 0.6rem;
}

.flex {
  display: flex;
  gap: 0.6rem;
}

.block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: 0.6rem;
}

.container {
  padding: 0.6rem;
  margin: 0 auto;
  max-width: 75rem;
  border-radius: 0.5em;
}

.has-border {
  border: 1px solid #001324;
}

/* colors */
.dark {
  background-color: #001324;
}

.light {
  background-color: #fdfee1;
}

.green {
  background-color: #3ee42f;
}

.blue {
  background-color: #0088ff;
}

/* typography */
.fs-900 {
  font-size: clamp(5rem, 8vw + 1rem, 9.375rem);
}

.fs-800 {
  font-size: 3.5rem;
}

.fs-700 {
  font-size: 3rem;
}

.fs-600 {
  font-size: 2rem;
}

.fs-500 {
  font-size: 1rem;
}

.fs-400 {
  font-size: 0.9375rem;
}

.fs-300 {
  font-size: 0.875rem;
}

.fs-200 {
  font-size: 0.7rem;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.ff-sans {
  font-family: "GT_America_Extended_Medium", sans-serif;
}

.ff-sans-c {
  font-family: "GT-America-Extended-Thin", sans-serif;
}

.ff-serif {
  font-family: "ITCGaramondStd-LtCond", sans-serif;
}

/* ------------------- */
/*      Components     */
/* ------------------- */
/* top 10 */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  font-size: 1rem;
  aspect-ratio: 1;
  padding: 0 2em;
}

.top10--grid {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.in-top10 {
  background-color: #001324;
  color: #fdfee1;
}

.top10--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top10--title {
  margin-bottom: 0.5em;
}

.next-button {
  justify-self: flex-end;
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
}

.next-button:disabled {
  opacity: 0;
}

.remove-button {
  position: absolute;
  top: -0.5em;
  right: 0;
  padding: 0 0.3em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fdfee1;
  color: #001324;
  z-index: 10;
}

/* carousel */
.carousel--container {
  grid-column: 1/3;
  width: 100%;
}

.carousel {
  overflow-x: scroll;
  max-width: 100%;
}

.carousel--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.875rem;
  padding: 0 1.5em;
  aspect-ratio: 1;
  color: #fdfee1;
  background-color: #001324;
  text-transform: uppercase;
}

.selected {
  background-color: #fdfee1;
  color: #001324;
  border-radius: 0.5em;
}

/* card */
.card--container {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card--info {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card--title {
  max-height: 5em;
  width: 100%;
  flex-grow: 1;
  align-self: flex-start;
}

.card--subtitle {
  align-items: center;
  justify-content: space-between;
  margin-inline: 0.5em;
}

.card--subtitle h2 {
  text-decoration: underline;
}

.card--title-image {
  max-height: 2em;
}

.arrow {
  max-height: 10em;
}

.arrow:hover {
  cursor: pointer;
}

.video {
  flex-grow: 1;
  aspect-ratio: 16/9;
}

.c2a {
  max-height: 6em;
  overflow-y: scroll;
}

.c2a--text {
  text-align: center;
}

/* ------------------- */
/*       Layout        */
/* ------------------- */
.main-grid {
  grid-template-columns: minmax(0, 1fr) minmax(0, 6fr);
  grid-template-rows: minmax(0, 6fr) minmax(0, 1fr);
  max-width: 100vw;
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
